#!/bin/sh
DAY=$(date "+%u")
mysqldump wordpress > /home/deploy/backups/db/wp"$DAY".sql
xz -f /home/deploy/backups/db/wp"$DAY".sql
chown {{ deploy_user }}:{{ deploy_group }} /home/deploy/backups/db/wp"$DAY".sql.xz
