---
- name: create install directory
  file:
    path: /home/{{ deploy_user }}/install
    state: directory

- name: download WordPress
  get_url: url=https://wordpress.org/wordpress-{{ WP_VERSION }}.tar.gz \
           dest=/home/{{ deploy_user }}/install/wordpress-{{ WP_VERSION }}.tar.gz \
           checksum=sha256:{{ WP_SHA }}

- name: unpack WordPress
  unarchive:
    src: /home/{{ deploy_user }}/install/wordpress-{{ WP_VERSION }}.tar.gz
    dest: /home/{{ deploy_user }}/install/
    copy: no

- name: copy WordPress to {{ project_dir }}
  shell: cp -r /home/{{ deploy_user }}/install/wordpress/* {{ project_dir }}/

- stat: path={{ project_dir }}/wp-config.php
  register: wp_config

- name: configure WordPress
  no_log: True
  command: /usr/local/bin/wp-cli --path={{ project_dir }} core config \
           --dbname=wordpress --dbuser=wordpress --dbpass={{ wp_db_pass }}
  when: wp_config.stat.exists == False

  # exits with 0 when already installed
- name: install WordPress
  no_log: True
  command: /usr/local/bin/wp-cli --path={{ project_dir }} core install \
           --title="WordPress is so good" --url="https://www.{{ hostname }}" \
           --admin_user=admin --admin_password={{ wp_admin_pass }} --admin_email={{ admin_email }}

- name: configure updater
  lineinfile: dest={{ project_dir }}/wp-config.php line="define('FS_METHOD', 'direct');"
