---
- name: set root password
  user: name=root password='{{ root_pass }}'

- name: create {{ deploy_group }} group
  group: name={{ deploy_group }} state=present

- name: create deploy user
  user: name={{ deploy_user }} password='{{ deploy_pass }}' \
        state=present group={{ deploy_group }}

- name: add key to deploy user\'s authorized_keys
  authorized_key: user={{ deploy_user }} key={{ lookup('file', keyfile) }}

- file: path={{ project_dir }} state=directory \
        owner={{ deploy_group }} group={{ deploy_group }} recurse=yes mode=2750
