---
- name: add MariaDB repo
  copy: src=MariaDB.repo dest=/etc/yum.repos.d/MariaDB.repo

- name: add EPEL repo
  yum: name=https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm state=present

- name: add Webstatic PHP repo
  yum: name=https://mirror.webtatic.com/yum/el7/webtatic-release.rpm state=present

- name: update all yum packages
  yum: name=* state=latest

- name: install tools
  yum: name={{ item }} state=present
  with_items:
    - MariaDB-client
    - MariaDB-server
    - MySQL-python
    - curl-devel
    - fail2ban
    - git
    - httpd-devel
    - mod_ssl
    - openssl-devel
    - php56w
    - php56w-common
    - php56w-mysql
    - php56w-opcache
    - python34-devel
    - sendmail
    - xz

- name: install wp-cli
  get_url:
    url: https://github.com/wp-cli/wp-cli/releases/download/v{{ cli_version }}/wp-cli-{{ cli_version }}.phar
    checksum: sha256:{{ cli_sha }}
    dest: /usr/local/bin/wp-cli

- name: set permissions on wp-cli
  file:
    path: /usr/local/bin/wp-cli
    mode: 0755

- include: acme.yml
