---
- name: create project directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ deploy_user }}"
    group: "{{ deploy_group }}"
  with_items:
    - "{{ project_dir }}"

# Including our own, to make re-tries easier
- name: remove Apache configurations
  file:
    path: /etc/httpd/conf.d/{{ item }}.conf
    state: absent
  with_items:
    - ssl
    - userdir
    - welcome
    - wp

- name: restart apache
  service: name=httpd state=restarted enabled=yes

- include: acme.yml

- name: configure virtual hosts
  template: src=wp.conf.j2 dest=/etc/httpd/conf.d/wp.conf

- name: install custom SSL config
  template: src=ssl.conf.j2 dest=/etc/httpd/conf.d/ssl.conf

- name: restart apache
  service: name=httpd state=restarted enabled=yes
