<VirtualHost *:80>
  ServerName {{ hostname }}
  ServerAdmin {{ admin_email }}
  DocumentRoot /www/wordpress/

  LogLevel warn

  ErrorLog /www/log/error.log
  CustomLog /www/log/access.log combined

  <Directory /www/wordpress/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
